{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <div class="container">
        <h2>联系我们</h2>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="contact-info">
            <div>
                <h3>业务咨询</h3>
                <p>电话：020-12345678</p>
                <p>邮箱：sales@shunru-dz.com</p>
            </div>
            <div>
                <h3>公司地址</h3>
                <p>广州市天河区广汕二路602号之一第四层自编408房</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}